################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DescentParser/v15
/Debug/DescentParser.tlog
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/stdafx.obj
/Debug/DescentParser.pdb
/Debug/DescentParser.pch
/Debug/DescentParser.obj
/Debug/DescentParser.log
/Debug/DescentParser.ilk
/Debug/DescentParser.exe
/DescentParser.vcxproj.user
